body,html{
  height: 100%;
  background-image: transparent;
}

.parallax {
  /* The image used */
  background-image: url('../assets/base.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rotate {
  position: relative;
  height: 420px;
  width: 420px;
  top : 400px;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
